/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap-icons/font/bootstrap-icons.css"; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevent horizontal scroll */
  /* font-family: "Quicksand", sans-serif; */
  font-optical-sizing: auto;
  font-style: normal;
 
  font-style: normal;
}
a{
    text-decoration: none;
}
.row {
  margin-right: 0;
  margin-left: 0;
}

/* .col-md-6 {
  padding: 0;
} */

.border {
  box-sizing: border-box;
}
mat-form-field{
    width: 100%;
}